{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="p-3">
    <h1>Current CTP {{data[0].ctp}} Holder</h1>
    {% if data[0].name == "Open" %}
      <p>Currently, no one has taken <strong>CTP {{data[0].ctp}} yet.</strong></p>
    {% else %}
      <p>Currently, <strong>{{ data[0].name }}</strong> has the flag for <strong>CTP {{ data[0].ctp }}</strong>.</p>
    {% endif %}

    <form method="POST" class="form-group">
      <label for="new_name">Enter your name to claim CTP {{ data[0].ctp }}:</label>
      <input type="text" name="new_name" id="new_name" class="form-control" required>
      <div class="p-2"></div>
      <button type="submit" class="btn btn-primary">Claim CTP</button>
    </form>
  </div>
</div>

{% endblock %}